.container {
    flex-grow: 1;
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
}

/* MESSAGE CSS */

.messageContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    min-width: 512px;
    height: 0;
    overflow-y: scroll;
    padding: 0 8px 0rem 2rem;
    gap: 1rem;
}

/* Response messages */

.responseMessage {
    display: flex;
    gap: 0.5rem;
}

.responseMessageContainer {
    max-width: 456px;
}

.responseMessageHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
    gap: 2rem;
}

.responseMessageName {
    color: var(--clr-background-text);
    font-size: var(--fs-text);
    font-weight: 500;
}

.responseMessageDate {
    color: var(--clr-grey);
    font-size: var(--fs-text-small);
    font-weight: 500;
}

.responseMessageBody {
    background-color: var(--clr-background-dark);
    border-radius: 12px;
    padding: 0.5em;
    color: var(--clr-background-text);
    font-size: var(--fs-text);
    font-weight: 400;
}

/* User messages */

.userMessage {
    display: flex;
    flex-direction: row-reverse;
}

.userMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.userMessageDate {
    color: var(--clr-grey);
    font-size: var(--fs-text-small);
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.userMessageBody {
    background-color: var(--clr-primary-light);
    border-radius: 12px;
    padding: 0.5em;
    color: var(--clr-primary-text);
    font-size: var(--fs-text);
    font-weight: 400;
}

/* INPUT BAR CSS */

.inputBar {
    background-color: var(--clr-background-dark);
    border-radius: 28px;
    max-height: 50%;
    padding: 1rem;
    display: flex;
    margin: 1rem 2rem;
}

.textarea {
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
    flex-grow: 1;
    font-size: var(--fs-text);
    font-weight: 400;
}