.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EFF1EE;
    height: 56px;
    width: 100%;
    box-shadow: 0 0 4px;
    position: relative;
}

.chatTitle {
    text-align: center;
    margin: auto 0;
    flex-grow: 1;
    font-size: 22px;
    font-weight: 400;
}