.pageCover {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.432);
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #FBFDFA;
    width: 360px;
    padding: 16px 24px;
    border-radius: 28px;
    gap: 8px;
}

.title {
    color: #191C1B;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 8px;
}

.button {
    height: 48px;
    background-color: transparent;
    border: 1px solid #707975;
    border-radius: 12px;
    color: #191C1B;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(230, 230, 230);
    border-color: #535a57;
    color: #000000;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.input {
    background-color: #E0E0E0;
    border: none;
    border-radius: 28px;
    padding: 0 4px 0 18px;
    height: 48px;
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}