.container {
    width: 360px;
    background-color: #294A5E;
    z-index: 1;
    padding: 12px;
    height: 100vh;
}

.title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    height: 56px;
    width: 336px;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}