.container {
  padding: 0 2rem;
}

.inputBar {
  background-color: var(--clr-background-dark);
  border-radius: 28px;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.textarea {
  scrollbar-color: #757575 #b8b8b8;
  color: var(--clr-background-text);
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  flex-grow: 1;
  font-size: var(--fs-text);
  font-weight: 400;
  max-height: 50vh;
  @media (prefers-color-scheme: dark) {
    scrollbar-color: #757575 #3d3d3d;
  }
}

.textarea::-webkit-scrollbar-thumb {
  background: #757575;
}
