:root {
  --max-width: 1128px;

  --primary: #294A5E;
  --primary-text: #FFFFFF;

  --background: #FBFDFA;

  --secondary: #62BEC1;
  --secondary-text: #103132;

  --text-display-medium: 3rem;
  --text-title-large: 1.4rem;
  --text-title-medium: 1.2rem;
  --text-title-small: 1.05rem;

  @media (max-width: 500px) {
    --text-display-medium: 2rem;
    --text-title-large: 1.2rem;
    --text-title-medium: 1.1rem;
    --text-title-small: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}