:root {
  --max-width: 1128px;
  --side-padding: 2rem;

  --clr-primary: #294A5E;
  --clr-primary-text: #FFFFFF;
  --clr-primary-light: #426277;
  --clr-primary-hover: #345469;
  --clr-primary-dark: #1e394a;

  --clr-background: #FBFDFA;
  --clr-background-variant: #EFF1EE;
  --clr-background-variant-dark: #DBE5E0;
  --clr-background-text: #191C1B;
  --clr-background-dark: #E0E0E0;
  --clr-background-border: #C4C7C5;

  --clr-grey: #3F4945;
  --clr-grey-hover: #000000;
  
  --clr-secondary: #62BEC1;
  --clr-secondary-hover: #45adb1;
  --clr-secondary-text: #103132;
  --clr-secondary-text-hover: #000000;

  --clr-link: #62BEC1;
  --clr-danger: #DF590D;
  --clr-danger-hover: #933500;

  --fs-display-medium: 3rem;
  --fs-display-small: 2rem;
  --fs-title-large: 1.4rem;
  --fs-title-medium: 1.2rem;
  --fs-title-small: 1.1rem;
  --fs-text: 1rem;
  --fs-text-small: 0.75rem;

  @media (max-width: 500px) {
    --side-padding: 1rem;

    --fs-display-medium: 2rem;
    --fs-title-large: 1.2rem;
    --fs-title-medium: 1.1rem;
    --fs-title-small: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #E0E0E0 transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--clr-background-dark);
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}