@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --max-width: 1128px;
  --side-padding: 2rem;

  --clr-primary: #294a5e;
  --clr-primary-text: #ffffff;
  --clr-primary-light: #426277;
  --clr-primary-message: #426277;
  --clr-primary-hover: #345469;
  --clr-primary-dark: #1e394a;

  --clr-background: #fbfdfa;
  --clr-background-variant: #eff1ee;
  --clr-background-header: #eff1ee;
  --clr-background-variant-dark: #dbe5e0;
  --clr-background-text: #191c1b;
  --clr-background-dark: #e0e0e0;
  --clr-background-border: #c4c7c5;

  --clr-grey: #3f4945;
  --clr-grey-hover: #191f1c;

  --clr-secondary: #62bec1;
  --clr-secondary-hover: #3f9b9e;
  --clr-secondary-text: #103132;
  --clr-secondary-text-hover: #000000;

  --clr-link: #158386;
  --clr-danger: #df590d;
  --clr-danger-hover: #b84808;

  @media (prefers-color-scheme: dark) {
    --clr-primary: #232725;
    --clr-primary-text: #ffffff;
    --clr-primary-light: #393c3a;
    --clr-primary-message: #2a4d64;
    --clr-primary-hover: #313331;
    --clr-primary-dark: #1e394a;

    --clr-background: #121414;
    --clr-background-variant: #191c1b;
    --clr-background-header: #232725;
    --clr-background-variant-dark: #272725;
    --clr-background-text: #ffffff;
    --clr-background-dark: #343636;
    --clr-background-border: #707975;

    --clr-grey: #bfc9c4;
    --clr-grey-hover: #96a09b;

    --clr-secondary: #56b1b4;
    --clr-secondary-hover: #3b9497;
    --clr-secondary-text: #0b2525;
    --clr-secondary-text-hover: #000000;

    --clr-link: #62bec1;
    --clr-danger: #df590d;
    --clr-danger-hover: #b84808;
  }

  --fs-display-medium: 3rem;
  --fs-display-small: 2rem;
  --fs-title-large: 1.4rem;
  --fs-title-medium: 1.2rem;
  --fs-title-small: 1.1rem;
  --fs-text: 1rem;
  --fs-text-small: 0.75rem;

  @media (max-width: 500px) {
    --side-padding: 1rem;

    --fs-display-medium: 2rem;
    --fs-title-large: 1.2rem;
    --fs-title-medium: 1.1rem;
    --fs-title-small: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #e0e0e0 transparent;
  font-family: "Roboto", sans-serif;
  @media (prefers-color-scheme: dark) {
    scrollbar-color: #2e3130 transparent;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--clr-background-dark);
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
